<div class="body3">
        <div class="body4">
            <div class="main">
                <div class="slogan">
                    <div id="slider">
                        <img src="{{url_for('static', filename='images/text1.jpg')}}" alt="">   
                        <img src="{{url_for('static', filename='images/text2.jpg')}}" alt="">   
                        <img src="{{url_for('static', filename='images/text3.jpg')}}" alt="">               
                    </div>
                </div>
            </div>
        </div>
    </div>