{%extends "frontend/base.html" %}

{% block nav_container %}
    {%if articles%}
    <div class="body5">
        <div class="body6">
            <div class="wrapper">
                <div class="children_holder">
                    <ul>
                    {%for article in articles%}
                        <li><a href="{{article.get_link()}}" title="{{article.title}}">{{article.title}}</a></li>
                    {%endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {%endif %}
{% endblock %}

{%block body%}

    {%if category%}

        {{category.text|safe}}

    {%else %}

        створіть головну сторінку

    {%endif%}


{%endblock%}