{% extends 'admin/master.html' %}

{%block head%}
    <link href="{{ url_for('static', filename='css/style_admin.css') }}" rel="stylesheet">
{%endblock%}

{%block body %}

<div>
	<a class="btn btn-primary" href="{{url_for('.new_album')}}">Додати альбом</a>
</div>

	<h3>Список альбомів</h3>

{%if albums%}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for album in albums %}
            <tr>
                <td>
	               <a class="image_preview" href="{{url_for('.show_album', album_id = album.id)|safe}}" 
                   title="{{album.title}}">
                        <img class="img-polaroid" 
                        src="{{url_for('static', filename=album.get_album_thumbnail())|safe}}" alt="" />
                    </a>
                </td>
                <td>
                    <h4>{{album.title}}</h4>
                </td>
                <td>
                    {{album.get_link()}}
                </td>
                <td>

                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

{%else%}

{%endif%}

{% endblock %}