{% extends 'admin/master.html' %}

{%block head%}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{%endblock%}

{% block body %}

<div>
	<a class="btn btn-primary" href="{{url_for('.new_album')}}">Додати альбом</a>
</div>

	<h3>Список альбомів</h3>

{%if albums%}
	<ul class="thumbnails">
	{%for album in albums %}
  		<li class="span2">
  			<div class="thumbnail">
  				<a href="{{url_for('.show_album', album_id = album.id)}}" title="{{album.title}}">
						<img class="img-polaroid" src="{{url_for('static', filename=album.get_album_thumbnail())}}" alt="" />
				</a>
				<h4>{{album.title}}</h4>
				<p>
					{{album.description|safe}}
				</p>
			</div>
  		</li>
	{%endfor%}
	</ul>

{%else%}

{%endif%}

{% endblock %}