{% extends 'admin/master.html' %}

{%block head %}
    <link href="{{ url_for('static', filename='css/style_admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ui.dynatree.css') }}" rel="stylesheet">
{%endblock%}
{%block tail%}
  {{super()}}
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.custom.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.cookie.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.dynatree.min.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
	<script type="text/javascript">


  function admin_item_config_handler(e){
    e.preventDefault();
    var jThis = $(this);
    var modal = $('#myModal');
    var form = $('#js_menuItem_settings')
    form.prop({
      action:jThis.prop('href')
    })
    form
      .find('#menuItemTitle')
        .val(jThis.prop('title'));
    var publicTmpl = '';
    $.ajax({
      url:jThis.prop('href'),
      success:function(data, textStatus, jqXHR){
        if (textStatus == 'success'){
          $('#menuItemTemplate').val(data);
        };
        return;
      }
    })
    modal.modal('show');
    return false;
  }

		$(document).ready(function(){
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      var itemMenuHolder;
      var itemMenuTitle;
      var menu = $('#menu_structure');
      //
      var inputItemTitle = $('#inputItemTitle');
      var inputItemUrl = $('#inputItemUrl');
      //
      var nodeParams;
      //
      var templateText = $('#itemTemplateText');
      var itemUtilityTemplate = $('#itemUtilityTemplateText');

      menu
        .find('.dropdown-toggle')
          .dropdown();

      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      $("#tree").dynatree({
        onActivate: function(node) {
          // get params of clicked node
          nodeParams = {
            'node_title' : node.data.title,
            'node_url' : node.data.href,
            'children' : node.data.children,
            'node_key' : node.data.key
          };
          inputItemTitle.val(nodeParams.node_title);
          inputItemUrl.val(nodeParams.node_url);
          //
          return;
        },
        initAjax: {url: "{{url_for('.content_structure')}}"},
        persist: true,
      });
        
        //$('#itemTemplateText').redactor();

      function createPublicTemplate(node_title, node_url, node_children){
        var item = '';
        if (node_children && node_children.length > 0){
          var jHolder = $('<ul />');
          var jLi = $('<li />');
          $.each(node_children, function(i, val){
            jLi.clone().append(
              $('<a />')
                .prop({
                  href:val.href
                })
                .html(val.title)
                ).appendTo(jHolder);
          });
          item = '<li>\n' + 
                    '\t<a href="' + node_url + '" title="' + node_title +'">' + node_title + '</a>\n' + 
                    jHolder.prop('outerHTML') + 
                '</li>';
          return item;
        } 
        item = '<li>\n\t<a href="' + node_url + '" title="' + node_title +'">' + node_title + '</a>\n</li>';
        return item
      }

      function createAdminTemplate(node_title, node_url, node_key, node_children){
        var ddMenu = $('<ul />')
          .addClass('dropdown-menu')
          .prop('role', 'menu');
        var ddTitle = $('<a />')
          .prop({
            class:'dropdown-toggle',
            href:'#'
          })
          .html(node_title)
          .append(
            $('<b />').addClass('caret')
          );

        if (node_children && node_children.length > 0){
          $.each(node_children, function(i, val){
            $('<li />').append(
              $('<a />')
                .prop({
                  href:val.key,
                  class:'js_menu_item_child'
                })
                .html(val.title)
            ).appendTo(ddMenu);
          });
        }
        var tmpl = ddTitle.prop('outerHTML') + ddMenu.prop('outerHTML');
        return tmpl;
      }

      function createMenuTemplate(nodeParams){
        //
        var newMenuItem = {
          'publicItem': '',
          'adminItem' : ''
        }

        //check if node has children
        if (nodeParams.children && nodeParams.children.length > 0){
          newMenuItem.publicItem = createPublicTemplate(
            nodeParams.node_title,
            nodeParams.node_url,
            nodeParams.children
          );
          newMenuItem.adminItem = createAdminTemplate(
            nodeParams.node_title,
            nodeParams.node_url,
            nodeParams.node_key,
            nodeParams.children
          );
        }else{
          newMenuItem.publicItem = createPublicTemplate(nodeParams.node_title, nodeParams.node_url);
          newMenuItem.adminItem = createAdminTemplate(nodeParams.node_title, nodeParams.node_url, nodeParams.node_key)
        }
        //
        templateText.val(newMenuItem.publicItem);
        itemUtilityTemplate.val(newMenuItem.adminItem);
        //
        return;
      }

      function correctItemTemplate (formData, jqForm, options){
        nodeParams.node_title = inputItemTitle.val();
        createMenuTemplate(nodeParams);
        return true;
      }

      function updateConstructorMenu(responseText, statusText, xhr, $form){
        $form.resetForm();
        menu
          .find('.dropdown-toggle')
            .dropdown();
        return true;
      };

      $('#js_newItemSource').ajaxForm({
        beforeSerialize : correctItemTemplate,
        success: updateConstructorMenu
      });

      menu
        .find('.js_edit_admin_menu_item')
          .on('click', admin_item_config_handler);

		});
	</script>
{%endblock%}

{% block body %}

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#menu_settings">Налаштування головного меню</a></li>
  <li><a href="#profile">Пошукова оптимізація</a></li>
  <li><a href="#messages">Messages</a></li>
  <li><a href="#settings">Settings</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="menu_settings">
    <div class="navbar">
      <h4>Конструктор головного меню</h4>
      <div class="navbar-inner">
        <a class="brand" href="#">Головне меню</a>
        {%if menu %}
        <ul id="menu_structure" class="nav">
          {% for m in menu %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{m.title}}</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="js_edit_admin_menu_item" href="{{url_for('.menu_settings', menu_id=m.id)}}" title="{{m.title}}">edit</a> 
                </li>
                <li>
                  <a class="" href="#">remove</a>
                </li>
              </ul>
            </li>
          {%endfor%}
        </ul>
        {%endif%}
      </div>
    </div>

    <div class="row">
      <div class="span4">
        <div id="tree"> </div>

        <form id="js_newItemSource" action="{{url_for('.new_menu_item')}}" method="POST" class="form-inline">
            
          <input type="hidden" name="itemTitle" type="text" id="inputItemTitle" />
          <input type="hidden" name="itemUrl" id="inputItemUrl" />

          <textarea name="itemTemplate" id="itemTemplateText" style="display:none;"></textarea>
          <textarea name="itemUtilityTemplate" id="itemUtilityTemplateText" style="display:none;"></textarea>

            <div class="control-group">
              <div class="controls">
                <input class="btn btn-primary" type="submit" value="Додати" />
              </div>
            </div>

          </form>
      </div>

      <div class="span8">
        <div id="item_options">
          
          
        </div>
      </div>
    </div>
  </div>
  <!-- META keyvords settings -->
  <div class="tab-pane" id="profile">
    <div class="navbar">
      <h4>Загальні пошукові слова</h4>
      <form action="{{url_for('.store_meta_info')}}" method="POST" class="">
        {{meta_form.csrf_token}}
        
        <div class="control-group">

          {{meta_form.meta_d.label(class="control-label")}}
          <div class="controls">
            {{meta_form.meta_d(style="margin:0 auto;height:100px;width:600px;")}}
          </div>

          {{meta_form.meta_d.description}}

        </div>

        <div class="control-group">

          {{meta_form.meta_k.label(class="control-label")}}

          <div class="controls">
            {{meta_form.meta_k(style="margin:0 auto;height:100px;width:600px;")}}
          </div>

          {{meta_form.meta_k.description}}

        </div>

        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn btn-primary" value="зберегти" />
          </div>
        </div>
      </div>
      </form>

  </div>

  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>
     
   <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="myModal" style="display: none;">
            <div class="modal-header">
              <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
              <h3 id="myModalLabel">Параметри пункта меню</h3>
            </div>
            <div class="modal-body">
              <form id="js_menuItem_settings" method="POST">

                 <div class="control-group">
                  <label class="control-label" for="menuItemTitle">Назва пункта</label>
                    <div class="controls">
                      <input type="text" name="itemTitle" id="menuItemTitle" />
                    </div>
                    <div class="controls">
                      <textarea id="menuItemTemplate" name="itemTemplate" rows="7" style="width:100%;"></textarea>
                    </div>
                </div>
              
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn">Закрити</button>
              <input type="submit" class="btn btn-primary" value="Застосувати" />
            </div>
          </div>
          </form>

{% endblock %}