{% extends 'admin/master.html' %}

{%block head %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ui.dynatree.css') }}" rel="stylesheet">
{%endblock%}
{%block tail%}
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.custom.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.cookie.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static', filename='js/jquery.dynatree.min.js')}}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
      $('#myTab a:first').tab('show');
			
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })

      $('#js_add_new_menu_item').bind('click', function(e){
				e.preventDefault();
				$('#myModal').modal('show');
				return false;
			})

      $('.dropdown-toggle').dropdown();


      $("#tree").dynatree({
            onActivate: function(node) {
                // A DynaTreeNode object is passed to the activation handler
                // Note: we also get this event, if persistence is on, and the page is reloaded.
                alert("You activated " + node.data.title);
            },
            initAjax: {url: "{{url_for('.content_structure')}}"},
            persist: true,
            /*
            children: [ // Pass an array of nodes.
                {title: "Item 1"},
                {title: "Folder 2", isFolder: true,
                    children: [
                        {title: "Sub-item 2.1"},
                        {title: "Sub-item 2.2"}
                    ]
                },
                {title: "Item 3"}
            ]
            */
        });



		})
	</script>
{%endblock%}

{% block body %}

<div class="navbar">
  <h4>Конструктор головного меню</h4>
  <div class="navbar-inner">
    <a class="brand" href="#">Головне меню</a>
    {%if menu %}
    <ul id="menu_structure" class="nav">
    	{% for m in menu %}
      <li><a href="#">{{m.title}}</a></li>
      {%endfor%}
    </ul>
    {%endif%}
  </div>
</div>


<div id="tree"> </div>

{% endblock %}