{% extends 'admin/master.html' %}

{%block head %}
    <link href="{{ url_for('static', filename='css/style_admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ui.dynatree.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/redactor.css') }}" rel="stylesheet">
{%endblock%}
{%block tail%}
  {{super()}}
	<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/redactor.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-ui.custom.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.cookie.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.dynatree.min.js')}}"></script>
   <script type="text/javascript" src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
      $('#myTab a:first').tab('show');
			
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })

      $('#js_add_new_menu_item').bind('click', function(e){
				e.preventDefault();
				$('#myModal').modal('show');
				return false;
			})

      var itemMenuHolder;
      var itemMenuTitle;
      var menu = $('#menu_structure');

      menu
        .find('.dropdown-toggle')
          .dropdown();

      $("#tree").dynatree({
            onActivate: function(node) {
                // A DynaTreeNode object is passed to the activation handler
                // Note: we also get this event, if persistence is on, and the page is reloaded.
                var node_key = node.data.key;
                var node_url = node.data.href;
                var node_title = node.data.title;
                var children = node.data.children;
                
                var templateText = $('#itemTemplateText');
                var itemUtilityTemplate = $('#itemUtilityTemplateText');

                templateText.val('');
                itemUtilityTemplate.val('');

                var inputItemTitle = $('#inputItemTitle');
                var inputItemUrl = $('#inputItemUrl');

                inputItemTitle.prop({
                  value:node_title
                });

                inputItemUrl.prop({
                  value:node_url
                });

                var tmplText = '';

                var childrenList = $('#js_children_list');
                //clear childList
                childrenList.html('');

                itemMenuHolder = $('<li />').addClass('dropdown');

                itemMenuTitle = $('<a />')
                  .prop({
                    href:'#',
                    class:'dropdown-toggle'
                  })
                  .html(node_title);

                itemMenuHolder.append(itemMenuTitle);

                if(children && children.length > 0){
                  var mainTab = $('#main');
                  tmplText = '<li><a href="' + node_url + '" title="' + node_title +'">' + node_title + '</a>\n<ul>';

                  var ddMenu = $('<ul />')
                      .addClass('dropdown-menu')
                      .prop('role', 'menu');

                  $.each(children, function(i, val){
                    tmplText += '\n\t<li>\n\t\t<a href="' + val.href + '" title="' + val.title +'">' + val.title + '</a>\n\t</li>';
                    //generate children inputs
                    var childInput = $('<input />')
                      .prop({
                        type:'text',
                        id:'js_childItem_'+val.title+'_'+i,
                        value:val.title
                      })
                      .appendTo(
                        $('<div />').addClass('controls')
                      );
                    var childLabel = $('<label />')
                      .prop({
                        class:'control-label',
                        for:'js_childItem_'+val.title+'_'+i
                      })
                      .text('Назва');
                    childrenList.append(childLabel);
                    $('<div />').addClass('controls')
                      .append(childInput)
                        .appendTo(childrenList);

                    var ddMenuItem = $('<a />')
                      .prop({
                        href:'#'
                      })
                      .html(val.title);
                    
                    ddMenuItem = $('<li />').append(ddMenuItem);

                    ddMenuItem.appendTo(ddMenu);

                  });
                  tmplText += '\n</ul>\n</li>';
                  itemMenuHolder.append(ddMenu);
                } else {
                  tmplText = '<li><a href="' + node_url + '" title="' + node_title +'">' + node_title + '</a></li>';
                };

                templateText.val(tmplText);
                itemUtilityTemplate.val(itemMenuHolder.html());
                
            },
            initAjax: {url: "{{url_for('.content_structure')}}"},
            persist: true,
            /*
            children: [ // Pass an array of nodes.
                {title: "Item 1"},
                {title: "Folder 2", isFolder: true,
                    children: [
                        {title: "Sub-item 2.1"},
                        {title: "Sub-item 2.2"}
                    ]
                },
                {title: "Item 3"}
            ]
            */
            
        });
        
        //$('#itemTemplateText').redactor();

        $('#js_newItemSource').ajaxForm({
          beforeSubmit : correctItemTemplate,
          success: updateConstructorMenu
        })

        function correctItemTemplate (formData, jqForm, options){
          return true;
        }

        function updateConstructorMenu(responseText, statusText, xhr, $form){
          menu
            .append(itemMenuHolder);
          menu
            .find('.dropdown-toggle')
              .dropdown();
        }

		});
	</script>
{%endblock%}

{% block body %}

<div class="navbar">
  <h4>Конструктор головного меню</h4>
  <div class="navbar-inner">
    <a class="brand" href="#">Головне меню</a>
    {%if menu %}
    <ul id="menu_structure" class="nav">
    	{% for m in menu %}
      <li class="dropdown">{{m.utility_template|safe}}</li>
      {%endfor%}
    </ul>
    {%endif%}
  </div>
</div>

<div class="row">
  <div class="span4">
    <div id="tree"> </div>
  </div>

  <div class="span8">
    <div id="item_options">
      <form id="js_newItemSource" action="{{url_for('.new_menu_item')}}" method="POST" class="form-inline">
        <legend>
           Параметри нового пункту меню
        </legend>
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#main">Основні параметри</a></li>
          <li><a href="#additionals">Додатково</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="main">
            
            <div class="control-group">
              <label class="control-label" for="inputItemTitle">Назва</label>
              <div class="controls">
                <input name="itemTitle" type="text" id="inputItemTitle">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="inputItemUrl">url</label>
              <div class="controls">
                <input name="itemUrl" type="text" id="inputItemUrl">
              </div>
            </div>

            <legend>
              Підпункти
            </legend>
            <div id="js_children_list" class="control-group">

            </div>
          </div>
          <div class="tab-pane" id="additionals">
            <div class="control-group">
              <label class="control-label" for="itemTemplateText">Шаблон</label>
              <div class="controls">
                <textarea name="itemTemplate" id="itemTemplateText"></textarea>
                <textarea name="itemUtilityTemplate" id="itemUtilityTemplateText" style="display:none;"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button class="btn btn-danger">скасувати</button>
            <input class="btn btn-primary" type="submit" value="Додати" />
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}